.home__body {
  overflow-x: hidden;
}

/* Header */

.banner__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  min-height: 100vh;
  object-fit: cover;
}

.header__home {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

/* Navigation */
.header__info {
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
  z-index: 3;
}

.header__info title {
  font-size: 3rem;
}

@media (min-width: 56rem) {
  .header__title {
    font-size: 5rem;
  }
}

.header__info p {
  margin-top: 1rem;
}

.header__links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.read__link {
  background-color: var(--white);
  color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: 32px;
  margin-right: 1rem;
  transition: opacity 0.5s ease-in-out;
}

.read__link:hover {
  opacity: 70%;
}

.player__link {
  display: flex;
  align-items: center;
  transition: text-decoration 0.5s ease-in-out;
}

.player__link::after {
  display: inline-block;
  content: url(../../images/icons/arrow-right--white.svg);
  width: 0.5rem;
  transform: translate(0.5rem, 0rem);
  transition: all 0.25s ease-in-out;
}

.player__link:hover::after {
  transform: translate(1rem, 0rem);
}

.player__link:hover {
  text-decoration: underline;
}

/* Experience */

.experience {
  min-height: 100vh;
  color: var(--orange);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.soundwaves__wrapper {
  position: relative;
  max-width: 30rem;
}

.experience__info h2 {
  font-size: 2rem;
  width: 25rem;
}

@media (min-width: 47rem) {
  .experience__info h2 {
    font-size: 3rem;
    width: 35rem;
  }
}

@media (min-width: 78rem) {
  .experience__info h2 {
    font-size: 5rem;
    width: 35rem;
  }
}

.experience__info p {
  max-width: 25rem;
}

/* Connect */
.connect {
  background: linear-gradient(
    144deg,
    rgba(180, 58, 170, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  position: relative;
  min-height: 100vh;
}

.connect__lines {
  background: url(../../images/airpod.png);
  background-size: 40rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.connect__info {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 20%;
  width: 30%;
  z-index: 1;
  text-align: end;
  overflow: hidden;
}

.connect__info h2 {
  font-size: 5rem;
}

@media (max-width: 100rem) {
  .connect__info {
    position: absolute;
    top: 50%;
    height: 50%;
    left: 10%;
    width: 40%;
    z-index: 1;
    text-align: end;
  }

  .connect__info h2 {
    font-size: 3rem;
  }
}

@media (max-width: 56rem) {
  .connect__info {
    position: absolute;
    top: 50%;
    height: 50%;
    left: 10%;
    width: 40%;
    z-index: 1;
    text-align: end;
  }

  .connect__info h2 {
    font-size: 2rem;
  }
}

/* Groove */
.groove {
  background-color: hsl(229, 21%, 30%);
  font-size: 2rem;

  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.groove__info {
  position: absolute;
  top: 40%;
  left: 65%;
  width: 10rem;
  transform: skew(5deg);
  font-size: 2rem;
}

@media (min-width: 59rem) {
  .groove__info {
    top: 45%;
    width: 20rem;
    font-size: 3rem;
  }
}

/* groove animation */
.groove__animation {
  height: 3rem;
  overflow: hidden;
}

.groove__swipe {
  animation: swipe 5s 0.25s infinite;
}

@media (min-width: 59rem) {
  .groove__swipe {
    animation: swipe2 5s 0.25s infinite;
  }
}

@keyframes swipe {
  0% {
    transform: translateY(-0.5rem);
  }

  33% {
    transform: translateY(-3.5rem);
  }

  66% {
    transform: translateY(-7.5rem);
  }

  100% {
    transform: translateY(-0.5rem);
  }
}

@keyframes swipe2 {
  0% {
    transform: translateY(-1.5rem);
  }

  33% {
    transform: translateY(-7rem);
  }

  66% {
    transform: translateY(-12.5rem);
  }

  100% {
    transform: translateY(-1.5rem);
  }
}

/* Pulse animation */
/* .pulse__animation {
  position: relative;
} */

.pulse {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.pulse::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  border: 0.8px solid var(--yellow);
  border-radius: 50%;
  transform: scale(1);
  animation: anime 1s 0.25s infinite;
}

.pulse::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  border: 0.8px solid var(--yellow);
  border-radius: 50%;
  transform: scale(1);
  animation: anime 1s 0.4s infinite;

}

@keyframes anime {
  0% {
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0.25;
  }
}

.image__wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-55%);
}

.image__wrapper img {
  width: auto;
  max-width: none;
  height: 100vh;
}

.pulse__animation {
  position: absolute;
  top: 54.5%;
  left: 58.5%; /* Adjust this value to move it more to the left */
  transform: translate(-50%, -50%);
}
